@import '_variables.scss';
* {
  // overflow: hidden;
  box-sizing: border-box;
}
nav,
.slideshow,
footer {
  display: block;
}
// nav
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}
// slideshow
.carousel-item {
  width: 100%;
  height: auto;
  position: relative;
  .slide-info {
    z-index: 5000;
    position: absolute;
    top: 0;
    left: 60%;
    background-color: #fff;
    opacity: 0.6;
    height: 100%;
    width: 40%;
    @include flex-preset;
    flex-direction: column;
    .sub-intro {
      width: 70%;
      font: {
        family: 'ZCOOL QingKe HuangYou', cursive;
        size: 2vw;
      }
      text-align: center;
      margin-bottom: 10%;
    }
    .slide-btn {
      opacity: 1;
      margin-top: 10%;
    }
  }
  .slide-img {
    z-index: 1000;
    // position: absolute;
  }
}

// footer
.email-input {
  margin-right: 16px;
}
.footer-copyright {
  background-color: #000;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
  }
}
